<table class="table table-hover text-center">

  <thead>
<tr>
  <th class="placeholder-glow"><span class="placeholder bg-primary  rounded-2" style="width: 100%;"></span></th>
  <th class="placeholder-glow"><span class="placeholder bg-primary  rounded-2" style="width: 100%;"></span></th>
  <th class="placeholder-glow"><span class="placeholder bg-primary  rounded-2" style="width: 100%;"></span></th>
  <th class="placeholder-glow"><span class="placeholder bg-primary  rounded-2" style="width: 100%;"></span></th>
  <th class="placeholder-glow"><span class="placeholder bg-primary  rounded-2" style="width: 100%;"></span></th>
  <th class="placeholder-glow"><span class="placeholder bg-primary  rounded-2" style="width: 100%;"></span></th>
  <th class="placeholder-glow"><span class="placeholder bg-primary  rounded-2" style="width: 100%;"></span></th>


</tr>
</thead>
<tbody>
  <tr >
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>


  </tr>
  <tr >
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>


  </tr>
  <tr >
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>
    <td class="placeholder-glow"><span class="placeholder bg-info rounded-2" style="width: 100%;"></span></td>


  </tr>
</tbody>



</table>
