<h3>List of heroes</h3>


<div *ngIf="deletedHero; else nothingWasDeleted"  >
  <h3>Heroe borrado:<span class="text-danger ">{{deletedHero}}</span></h3>
</div>

<ng-template #nothingWasDeleted >
  <h3 >No se ha borrado nada</h3>
</ng-template>





<button (click)="deleteLastHero()" *ngIf="heroNames.length>0" class="btn btn-outline-danger ">Borrar Último Heroe</button>


<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item text-black-50   ">{{name}}</li>

</ul>
