<div class="flex flex-column ">
  <span class="text-large mb-4 font-medium text-lg">Login</span>

  <mat-form-field>
    <mat-label> Email</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary" (click)="onLogin()">Ingresar <mat-icon aria-hidden="false" aria-label="Example home icon" class="font-bold">arrow_right_alt</mat-icon>
  </button>

<div class="flex justify-content-center mt-5" >
  <span class="font-medium" >¿No tienes cuenta aún? <a routerLink="/auth/register">Registrate aquí</a></span>
</div>

</div>
